html, body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;

  & #viewerContainer {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__preview {
    position: relative;
    min-width: 816px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }

  &__options {
    width: var(--options-container-width);
    position: fixed;
    background-color: white;
    opacity: .5;
    top: 0;
    right: 48px;
    padding: 24px;
    overflow: auto;
    max-height: 100vh;
    box-sizing: border-box;
  }

  &__selectorsContainer {
    position: absolute;
    top: 0;
    left: 0;
  }
}
