html, body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;

  & #viewerContainer {
    position: absolute;
    overflow: auto;
  }

  &__preview {
    position: relative;
    min-width: 816px;
  }

  &__options {
    width: 100%;
  }
}

.options {
  position: relative;
  & .content {
    position: sticky;
    top: 0;
    left: 0;
    padding: 16px;
  }
}

.options__field {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 24px;
}
